.shimmer-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 10px;
}

.shimmer-card{
    height: 388.69px;
    width: 200px;
    background-color: #f0f0f0; 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px    
}